<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - TweetsOnYourWrist WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - TweetsOnYourWrist WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TweetsOnYourWrist WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TweetsOnYourWrist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A261FBAF1A816B8000A965F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A261FBC41A816B8000A965F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A261FBEF1A81718D00A965F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A261FC091A81724000A965F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A261FC181A81724000A965F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
